* {
  box-sizing: border-box;
}

.lion-bg{
  margin:0;
  background-color:lightgreen
}

.elephant-bg{
  margin:0;
  background-color: #F5DEB3;
}

#lionimg{
  float: left;
  border: 6px solid rgb(54, 168, 73);
  height:280px;    
}

#pbimg{
  border: 6px solid rgb(158, 225, 230);
  height:280px;    
}

#eleimg{
  float: left;
  border: 8px solid rgb(137, 144, 142);
  height:280px; 
}

h1{
  font-size: 34px;
  font-family: 'Rajdhani', sans-serif;
  border: 5px solid #73AD21;  
  margin: 15px 0px 0px 10px;
  padding: 20px;
}

h2{
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  border: 2px solid #73AD21;  
  margin: 3px 26px 0px 10px;
  padding:10px;
}

h3{
  font-size: 34px;
  font-family: 'Rajdhani', sans-serif;
  border: 6px solid #27b6d3;  
  margin: 46px 0px 0px 10px;
  padding: 10px;
}

h4{
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  border: 3px solid #27b6d3;  
  margin: 3px 20px 0px 0px;
  padding:10px;
}

h5{
  font-size: 34px;
  font-family: 'Rajdhani', sans-serif;
  border: 4px solid #998575;  
  margin: 44px 0px 0px 12px;
  padding: 25px;
}

h6{
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  border: 4px solid #998575;  
  margin: 3px 24px 0px 10px;
  padding:13px;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.column2 {
  float: right;
  width: 70%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.column3 {
  float: left;
  width: 23%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.column4 {
  float: right;
  width: 77%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.column5 {
  float: left;
  width: 25%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.column6 {
  float: right;
  width: 75%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}