* {
  box-sizing: border-box;
}

.lion-bg{
  margin:0;
  background-color:lightgreen
}

#lionimg{
  float: left;
  border: 6px solid rgb(54, 168, 73);
  height:280px;    
}

#pbimg{
  float: left;
  border: 6px solid rgb(158, 225, 230);
  height:280px;    
}

h1{
  font-size: 34px;
  font-family: 'Rajdhani', sans-serif;
  border: 4px solid #73AD21;  
  margin: 15px 0px 0px 10px;
  padding: 20px;
}

h2{
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  border: 2px solid #73AD21;  
  margin: 3px 26px 0px 10px;
  padding:10px;
}

h3{
  font-size: 34px;
  font-family: 'Rajdhani', sans-serif;
  border: 4px solid #27b6d3;  
  margin: 15px 0px 0px 10px;
  padding: 20px;
}

h4{
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  border: 3px solid #27b6d3;  
  margin: 3px 0px 0px 0px;
  padding:10px;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin-left: auto;
  margin-right: auto;
}
.column2 {
  float: right;
  width: 70%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}